@import "fonts/fonts.css";
@import "vars.css";

body {
    background-color: var(--bg-color);
    margin: 0;
    overflow-x: hidden;
}

html{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.header__nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.list__link img {
    width: 140px;
}

.list__link:first-child {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-family: "Raleway-reg";
    width: 67vw;
}

.list__link {
    text-decoration: none;
    /* color: black; */
    color: #84440e;
    font-size: 30px;
}

.list__name {
    text-align: center;
    margin: 0;
    font-family: "Raleway-bold";
    color: var(--logo-color);
    font-size: 40px;
}