@import "fonts/fonts.css";
@import "vars.css";

body {
    margin: 0;
    background-color: var(--bg-color);
    padding: 0 150px;
}

.content {
    font-family: "Raleway-reg";
    font-size: 30px;
}

.content__header {
    text-align: center;
}

.content__title {
    text-align: center;
    margin-top: 10px;
}